.body {
  background-color: #f1faee;

  /* min-height: 90vh; */
  z-index: 1;
  /* display: unset; */
  overflow: visible;
}

.upBtnDiv {
  position: fixed;
  right: 2%;
  bottom: 8%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

#upBtn {
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #dddf00;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 1s;


}

#upBtn:hover {
  background-color: #9da003;

}

.banner {
  text-align: center;
  background-color: #ff7d00;
  color: #14213d;
  height: 1.3rem;
  letter-spacing: 0.1rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
  white-space: nowrap;
  opacity: 0.9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


/* NAVBAR BEIGNS */
.navbar {
  display: flex;
  height: 4.5rem;
  background-color: #003049;
  color: #fdf0d5;
  white-space: nowrap;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* align-self: flex-start;
  height: auto; */
  opacity: 0.9;

}

/* .fakeNavSpace {
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
} */

.sticky {
  /* position: fixed; */
  top: 1.3rem;
  width: 100%;

  z-index: 1;
}

.navbarDivRight {
  /* background-color: aqua; */
  flex: 0.4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navbarDivRight a {
  margin: 25px;
  letter-spacing: 0.1rem;
  transition: 1s;

  background-image: linear-gradient(to right, #ffffff, #ffffff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  /* Adjust the thickness of the underline */
  transition: background-size 0.5s ease-in-out;
  /* Set the desired transition duration */

}

#anchor:hover {
  background-size: 100% 2px;
  cursor: pointer;
}

.navbarDivLeft {
  /* background-color: blueviolet; */
  position: relative;
  flex: 0.6;
  padding: 5px;
  letter-spacing: 0.1rem;
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* NAVBAR ENDS */


/* FOOTER BEGINS */

.FooterSec {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  height: 20rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #7a9caf;
  background-color: #003049;

  color: #fdf0d5;
  max-height: 25rem;
  min-height: 20rem;
  /* border-bottom: 2px solid white; */
}

.FooterDiv1 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid white; */
  width: 90%;
  position: relative;
}

#FooterHrLine {
  /* border-top: 2px solid white; */
  width: 90%;
}

.FooterDesc {
  /* border: 2px solid white; */
  padding: 10px;
  position: relative;
  left: 1px;
  flex: 0.7;
  height: 15rem;
}

.FooterDesc h2 {
  font-size: xx-large;
  color: #fdf0d5;

  text-align: left;
  position: relative;
  top: 2.1rem;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress {
  /* text-align: center; */
  /* border: 2px solid white; */
  flex: 0.4;
}

.FooterAddress h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #fdf0d5;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress p {
  font-size: small;
  line-height: 1.8;
  text-align: left;
  position: relative;
  top: 3.8rem;
  color: #ABB3BC;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact {
  /* border: 2px solid white; */
  position: relative;
  right: 0;
  flex: 0.3;
}

.contact h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #fdf0d5;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact p {
  font-size: small;

  text-align: left;
  position: relative;
  top: 3.8rem;
  font-weight: 200;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
  color: #ABB3BC;

}

.contact p a {
  text-decoration: underline;
  /* color: #e63946; */
  transition: 1s;
}

.contact p a:hover {
  text-decoration: underline;
  color: #9f1a25;
}

.FooterDiv2 {
  margin-top: 1%;
  padding: 10px;
}

.FooterDiv2 h2 {
  font-size: medium;
  letter-spacing: 0.15rem;

  color: #fdf0d5;

}

/* FOOTER ENDS */


/* * CONTENT PART BEGINS */
/* CONTENT-1 */

.Content1Section {
  font-family: 'Poppins', sans-serif;
  min-height: 110vh;
  /* margin: 2rem 0; */
  background-color: #f1faee;
  color: #1d3557;
}

.Content1Section h2 {
  text-align: center;
  /* margin-top: 1em; */
  padding: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #e63946;
}

.Content1Section .Content1Biography {
  /* margin-top: 1.5em; */

  display: flex;
  flex-direction: column;
  /* border: 3px solid black */
}

.Content1Section .Content1BiographyImg {
  /* border: 1px solid white; */
  padding: 0 8em;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.Content1BiographyImg img {
  transition: 0.9s;
}

.Content1BiographyImg img:hover {
  transform: scale(1.05, 1.05);
}

.Content1Section .Content1BiographyInfo {
  margin-top: 1em;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  text-align: center;
  padding: 1em 8em;
}



/* content-2 begins */
.AlgorithmSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #52b69a;

  background-color: #f1faee;
  color: #1d3557;

}

.AlgorithmSection h2 {
  text-align: center;
  margin-top: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #e63946;

}

.AlgorithmSectionContain {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;

}

.AlgorithmSectionVisual {
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.AlgorithmSectionAlgo {
  border-left: 2px solid black;
  flex: 1;
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-size: medium;
}

/* CONTENT-3 */
.ProblemSection {
  min-height: 100vh;
  background-color: #f1faee;
  color: #1d3557;
}

.ProblemSectionContain {
  /* border: 3px solid black; */
  padding: 5em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;

}

.ProblemSection .ProblemSectionh2 {
  /* margin-top: 0.1em; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #e63946;

}

.ProblemSectionh3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #1d3557
}

.ProblemSectionh4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;

}

.ProblemSection p:nth-of-type(1) {
  text-align: center;
}

.ProblemSectionli {
  margin-bottom: 0.8em;
  /* padding: 10px; */
}

.HR {
  width: 95%;
  margin: 0 auto;
  border: none;
  border-top: 2px solid black;
}