.body {
  background-color: rgb(151, 180, 33);
  /* min-height: 90vh; */
  z-index: 1;
  /* display: unset; */
  overflow: visible;
}

.upBtnDiv {
  position: fixed;
  right: 2%;
  bottom: 8%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

#upBtn {
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #dddf00;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 1s;


}

#upBtn:hover {
  background-color: #9da003;

}

.banner {
  text-align: center;
  background-color: #e63946;
  color: #f1faee;
  height: 1.3rem;
  letter-spacing: 0.1rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
  white-space: nowrap;
  opacity: 0.9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


/* NAVBAR BEIGNS */
.navbar {
  display: flex;
  height: 4.5rem;
  background-color: #1d3557;
  color: #f1faee;
  white-space: nowrap;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* align-self: flex-start;
  height: auto; */
  opacity: 0.9;

}

/* .fakeNavSpace {
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
} */

.sticky {
  /* position: fixed; */
  top: 1.3rem;
  width: 100%;

  z-index: 1;
}

.navbarDivRight {
  /* background-color: aqua; */
  flex: 0.4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navbarDivRight a {
  margin: 25px;
  letter-spacing: 0.1rem;
  transition: 1s;

  background-image: linear-gradient(to right, #ffffff, #ffffff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  /* Adjust the thickness of the underline */
  transition: background-size 0.5s ease-in-out;
  /* Set the desired transition duration */

}

#anchor:hover {
  background-size: 100% 2px;
  cursor: pointer;
}

.navbarDivLeft {
  /* background-color: blueviolet; */
  position: relative;
  flex: 0.6;
  padding: 5px;
  letter-spacing: 0.1rem;
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* NAVBAR ENDS */


/* FOOTER BEGINS */

.FooterSec {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  height: 20rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #05091b;
  max-height: 25rem;
  border-bottom: 2px solid white;
}

.FooterDiv1 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid white; */
  width: 90%;
  position: relative;
}

#FooterHrLine {
  /* border-top: 2px solid white; */
  width: 90%;
}

.FooterDesc {
  /* border: 2px solid white; */
  padding: 10px;
  position: relative;
  left: 1px;
  flex: 0.7;
  height: 15rem;
}

.FooterDesc h2 {
  font-size: xx-large;
  color: #F3F3F4;

  text-align: left;
  position: relative;
  top: 2.1rem;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress {
  /* text-align: center; */
  /* border: 2px solid white; */
  flex: 0.4;
}

.FooterAddress h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #F3F3F4;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress p {
  font-size: small;
  line-height: 1.8;
  text-align: left;
  position: relative;
  top: 3.8rem;
  color: #ABB3BC;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact {
  /* border: 2px solid white; */
  position: relative;
  right: 0;
  flex: 0.3;
}

.contact h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #F3F3F4;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact p {
  font-size: small;

  text-align: left;
  position: relative;
  top: 3.8rem;
  font-weight: 200;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
  color: #ABB3BC;

}

.contact p a {
  text-decoration: underline;
  /* color: #e63946; */
  transition: 1s;
}

.contact p a:hover {
  text-decoration: underline;
  color: #9f1a25;
}

.FooterDiv2 {
  margin-top: 1%;
  padding: 10px;
}

.FooterDiv2 h2 {
  font-size: medium;
  letter-spacing: 0.15rem;

  color: #F3F3F4;

}

/* FOOTER ENDS */


/* * CONTENT PART BEGINS */
/* CONTENT-1 */

.Content1Section {
  min-height: 100vh;
}