.body {
  background-color: #fff;

  /* min-height: 90vh; */
  z-index: 1;
  /* display: unset; */
  overflow: visible;
}

.upBtnDiv {
  position: fixed;
  right: 2%;
  bottom: 8%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

#upBtn {
  text-align: center;
  /* padding: 20px; */
  font-size: x-large;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  /* border-radius: 50%; */
  background-color: #437EEB;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 1s;


}

#upBtn:hover {
  background-color: #214fa3;

}

.banner {
  text-align: center;
  /* background-color: #ff7d00; */
  /* border: 2px solid; */
  color: #14213d;
  height: 2.0rem;
  letter-spacing: 0.1rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
  white-space: nowrap;
  opacity: 0.9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.banner1 {
  background-color: #437EEA;
  color: #FFFFFF;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.banner11, .banner12 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.0rem;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}

.banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #F8F8FD;
  color: #437EEA;
  border-bottom: 2px solid #E4E8FF;

}

.banner21 {
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  height: 2.0rem;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  border: none;
}


/* NAVBAR BEIGNS */
.navbar {
  display: flex;
  height: 3.5rem;
  background-color: #F9F9FE;
  color: #535F81;
  white-space: nowrap;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-small;
  /* align-self: flex-start;
  height: auto; */
  opacity: 0.9;
  /* border-bottom: 1px solid #4C5870;
  border-top: 1px solid #4C5870; */


}

.PRIMS {
  font-size: medium;
  color: #3A4662
}

/* .fakeNavSpace {
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
} */

.sticky {
  /* position: fixed; */
  top: 1.3rem;
  width: 100%;

  z-index: 1;
}

.navbarDivRight {
  /* background-color: aqua; */
  flex: 0.4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navbarDivRight a {
  margin: 25px;
  letter-spacing: 0.1rem;
  transition: 1s;

  background-image: linear-gradient(to right, #535F81, #535F81);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  /* Adjust the thickness of the underline */
  transition: background-size 0.5s ease-in-out;
  /* Set the desired transition duration */

}

#anchor:hover {
  background-size: 100% 2px;
  cursor: pointer;
}

.navbarDivLeft {
  /* background-color: blueviolet; */
  position: relative;
  flex: 0.6;
  padding: 5px;
  letter-spacing: 0.1rem;
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* NAVBAR ENDS */


/* FOOTER BEGINS */

.FooterSec {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  height: 20rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #EEF1FE;

  color: #5A647E;
  max-height: 25rem;
  min-height: 20rem;
  /* border-bottom: 2px solid white; */
}

.FooterDiv1 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid white; */
  width: 90%;
  position: relative;
}

#FooterHrLine {
  /* border-top: 2px solid white; */
  width: 90%;
}

.FooterDesc {
  /* border: 2px solid white; */
  padding: 10px;
  position: relative;
  left: 1px;
  flex: 0.7;
  height: 15rem;
}

.FooterDesc h2 {
  font-size: xx-large;
  color: #5A647E;

  text-align: left;
  position: relative;
  top: 2.1rem;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress {
  /* text-align: center; */
  /* border: 2px solid white; */
  flex: 0.4;
}

.FooterAddress h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #5A647E;

  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.FooterAddress p {
  font-size: small;
  line-height: 1.8;
  text-align: left;
  position: relative;
  top: 3.8rem;
  color: #82878F;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact {
  /* border: 2px solid white; */
  position: relative;
  right: 0;
  flex: 0.3;
}

.contact h3 {
  font-size: x-large;

  text-align: left;
  position: relative;
  top: 3rem;
  color: #5A647E;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
}

.contact p {
  font-size: small;

  text-align: left;
  position: relative;
  top: 3.8rem;
  font-weight: 200;
  /* margin-bottom: -1%; */
  letter-spacing: 0.15rem;
  color: #82878F;

}

.contact p a {
  text-decoration: underline;
  /* color: #e63946; */
  transition: 1s;
}

.contact p a:hover {
  text-decoration: underline;
  color: #9f1a25;
}

.FooterDiv2 {
  margin-top: 1%;
  padding: 10px;
}

.FooterDiv2 h2 {
  font-size: medium;
  letter-spacing: 0.15rem;

  color: #5A647E;

}

/* FOOTER ENDS */

.IntroPage {

  max-height: 90vh;
  background-color: #F9F9FE;
  overflow: hidden;
  /* Hide any overflow beyond the container's height */
  position: relative;
  /* Adjust animation speed (10s) */
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes parallax {
  0% {
    transform: translateY(0);
    /* Start at normal position */
  }

  50% {
    transform: translateY(-30px);
    /* Move the image up */
  }

  100% {
    transform: translateY(0);
    /* Back to normal position */
  }
}

.IntroImg {
  -webkit-animation: mover 10s infinite alternate;
  animation: mover 2s infinite alternate;
  /* display: block; */
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  margin-top: -310px;
  /* Half the height */
  margin-left: -400px;
  /* Half the width */
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.IntroPageDivImg {
  position: absolute;
  background-image: url("https://wordpress.iqonic.design/product/wp/xamin-elementor/wp-content/uploads/2020/06/bannershap.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  animation: parallax 10s linear infinite;

  z-index: 0;
  height: 100%;
  color: black;
  /* border: 1px solid; */
  /* margin: 0 auto; */
  width: 100%;
}

.IntroPageDiv {
  /* border: 2px solid black; */
  /* margin: 0 auto; */
  /* margin-top: 2em; */
  padding: 50px;
  /* position: relative; */
  height: 40em;
  position: relative;
  top: 1em;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* z-index: 5; */
  margin: 0 auto;
}

.IntroPageHeaders {
  /* display: grid; */
  color: black;
  /* border: 1px solid; */
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Raleway', sans-serif;
  color: #253C5C;
  font-weight: 1000;
  font-size: 110px;

}

.IntroPageHeadersItem1 {
  text-align: center;
  /* border: 1px solid; */
  display: flex;
  /* height: 10em; */
  flex: 1;
  /* justify-self: center; */
  /* border: 2px solid; */
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: none;

}

.IntroPageHeadersItem1 p {
  text-align: center;
  /* position: relative;
  top: 0.6em;
  left: 0.8em; */
  z-index: none;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.IntroPageHeadersItem2 {
  /* border: 1px solid black; */

  z-index: 1;
  /* height: 10em; */

  border-top: 3px solid #253C5C;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.IntroPageHeadersItem2 p {
  text-align: center;
  /* position: relative;
  top: 1em;
  right: 0.8em; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}

/* * CONTENT PART BEGINS */
/* CONTENT-1 */

.Content1Section {
  font-family: 'Poppins', sans-serif;
  min-height: 110vh;
  /* margin: 2rem 0; */
  background-color: #FFFFFF;
  color: #535F81;
}

.Content1Section h2 {
  text-align: center;
  /* margin-top: 1em; */
  padding: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: large;
  color: #437EEB;
  margin: 0 auto;
  margin-bottom: 1em;

}

.Content1SectionHeader {
  display: inline-block;
  padding: 10px;
  background: linear-gradient(to right, #F0F1FD, #F6F7FE, #FDFDFE);

}

.Content1Section .Content1Biography {
  /* margin-top: 1.5em; */

  display: flex;
  flex-direction: column;
  /* border: 3px solid black */
  justify-content: center;
  /* align-items: center; */
}

.Content1Section .Content1BiographyImg {
  /* border: 1px solid white; */
  padding: 0 8em;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #313E5B;
}

/* .Content1BiographyImg  */
.Content1Button {
  margin-top: 1em;
  width: 150px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  background-color: #437EEB;
  color: #FFF7FA;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  font-weight: 800;
}

.Content1Button:hover {
  background-color: #2f62c0;

}

.Content1BiographyImg img {
  transition: 0.9s;
  border-radius: 50%;
  /* Create a circular shape */
  height: 230px;
  width: 230px;
  object-fit: fill;
  /* Maintain the aspect ratio and fill the circle */

  box-shadow: 5px 10px 10px 2px rgb(0, 0, 0, 0.5);

}

.Content1BiographyImg img:hover {
  transform: scale(1.05, 1.05);
}

.Content1Section .Content1BiographyInfo {
  margin-top: 1em;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  text-align: center;
  padding: 1em 8em;
  /* width: 500px; */
}



/* content-2 begins */
.AlgorithmSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #FFFFFF;
  color: #535F81;

}

.AlgorithmSection h2 {
  text-align: center;
  margin-top: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.02em;
  color: #437EEB;
  font-size: large;

}

.AlgorithmSectionContain {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;

}

.AlgorithmSectionVisual {
  border-right: 1px solid #313E5B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.AlgorithmSectionAlgo {
  border-left: 2px solid black;
  flex: 1;
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-size: medium;
}

/* CONTENT-3 */
.ProblemSection {
  min-height: 140vh;
  background-color: #FFFFFF;
  color: #535F81;
  ;
}

.ProblemSectionContain {
  /* border: 3px solid black; */
  padding: 5em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;

}

.ProblemSection .ProblemSectionh2 {
  margin-top: -2em;
  margin-bottom: 1.2em;

  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.02em;
  color: #437EEB;
  font-size: large;
}

.ProblemSectionh3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #313E5B;
}

.ProblemSectionh4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #313E5B;
}

.ProblemSection p:nth-of-type(1) {
  text-align: center;
}

.ProblemSectionli {
  margin-bottom: 0.8em;
  /* padding: 10px; */
}

.ProblemSectionBeforeImg {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 0 auto;
}

.HR {
  width: 95%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #313E5B;
}

.SolutionSection {
  margin-bottom: 6em;
  min-height: 110vh;
  width: 100%;
  max-height: 120vh;

  border: 2px solid black
}