.buttonStart {
    margin-top: 3em;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    background-color: #437EEB;
    color: #FFF7FA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    font-weight: 800;
    margin-bottom: 2em;
}

.buttonStart:hover {
    background-color: #2f62c0;

}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}